Repository sgl-project/sgl-cookbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: compile-model-configs, validate-model-configs-ts

.pre-commit-config.yaml:

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  # Custom hook for compiling model configs
  - repo: local
    hooks:
      - id: compile-model-configs
        name: Compile Model Configuration YAML
        entry: python3 data/scripts/compile_models.py
        language: system
        files: ^data/models/src/.*\.(yaml|yml)$
        pass_filenames: false

      - id: validate-model-configs-ts
        name: Validate Model Configuration YAML (TypeScript)
        entry: bash -c 'cd data/schema && npm test'
        language: system
        files: ^(data/models/generated/.*\.(yaml|yml)|data/schema/types\.ts)$
        pass_filenames: false

Fix formatting for NVIDIA and AMD sections
  docs/autoregressive/Qwen/Qwen3.5.md
Due: none

make comments clear
  src/components/autoregressive/Step3_5ConfigGenerator/index.js
Due: none

Add AMD MI300X/MI325X/MI350X/MI355X GPU support for Step-3.5-Flash (#200)
  data/models/generated/v0.5.8/step35.yaml
  data/models/src/v0.5.8/step35.yaml
  data/models/vendors.yaml
  docs/autoregressive/StepFun/Step3.5.md
  src/components/autoregressive/Step3_5ConfigGenerator/index.js
Due: compile-model-configs, validate-model-configs-ts

Update llama4-Scout for AMD (#87)
  docs/autoregressive/Llama/Llama4-Scout.md
  docs/autoregressive/Llama/Llama4.md
  src/components/autoregressive/Llama4MaverickConfigGenerator/index.js
Due: none

Update minimax m2 for AMD (#88)
  docs/autoregressive/MiniMax/MiniMax-M2.md
  src/components/autoregressive/MiniMaxM2ConfigGenerator/index.js
Due: none

AMD MI300X/MI325X/MI355X support for Qwen3.5 Model (#179)
  data/models/generated/v0.5.8/qwen35.yaml
  data/models/src/v0.5.8/qwen35.yaml
  docs/autoregressive/Qwen/Qwen3.5.md
  src/components/autoregressive/Qwen35ConfigGenerator/index.js
Due: compile-model-configs, validate-model-configs-ts

Add AMD MI300X/MI325X/MI350X/MI355X GPU support for Kimi-K2.5 (#198)
  data/models/generated/v0.5.8/kimi-k25.yaml
  data/models/src/v0.5.8/kimi-k25.yaml
  docs/autoregressive/Moonshotai/Kimi-K2.5.md
  src/components/autoregressive/KimiK25ConfigGenerator/index.js
Due: compile-model-configs, validate-model-configs-ts

Update and rename Mistral-3.md to Ministral-3.md
  docs/autoregressive/Mistral/Ministral-3.md
  docs/autoregressive/Mistral/Mistral-3.md
Due: none

Create index.js
  src/components/autoregressive/Ministral3ConfigGenerator/index.js
Due: none

Update index.js
  src/components/autoregressive/Ministral3ConfigGenerator/index.js
Due: none

Add GLM-5 FP8 B200 optimized recipe
  docs/autoregressive/GLM/GLM-5.md
  src/components/autoregressive/GLM5ConfigGenerator/index.js
Due: none

Merge the tab for MI300X/MI325X/MI355X into one
  docs/diffusion/Wan/Wan2.1.md
  src/components/diffusion/Wan2_1ConfigGenerator/index.js
Due: none

Update and rename Mistral-3.md to Ministral-3.md for AMD (#205)
  docs/autoregressive/Mistral/Ministral-3.md
  docs/autoregressive/Mistral/Mistral-3.md
  src/components/autoregressive/Ministral3ConfigGenerator/index.js
Due: none

fix: correct GPU memory specs, add port 30000, remove dead H200 option
  data/models/generated/v0.5.8/deepseek-math-v2.yaml
  data/models/src/v0.5.8/deepseek-math-v2.yaml
  docs/autoregressive/DeepSeek/DeepSeek-Math-V2.md
  docs/intro.md
  src/components/autoregressive/DeepSeekMathV2ConfigGenerator/index.js
Due: compile-model-configs, validate-model-configs-ts

docs(qwen3.5): add --enable-flashinfer-allreduce-fusion tip for B200 FP8
  docs/autoregressive/Qwen/Qwen3.5.md
Due: none

update cookbook for glm5 model
  docs/autoregressive/GLM/GLM-5.md
Due: none

update cookbook for glm5 model (#208)
  docs/autoregressive/GLM/GLM-5.md
Due: none

Fix sidebar entries for Llama and Mistral models
  sidebars.js
Due: none

Fix sidebar entries for Llama and Mistral models (#209)
  sidebars.js
Due: none

Fix Llama4 recipe link and update Mistral-3 to Ministral-3 in the introduction
  docs/intro.md
  src/components/autoregressive/Llama4MaverickConfigGenerator/index.js
Due: none

Improve review-pr and add-model skills (#199)
  .claude/skills/add-model/SKILL.md
  .claude/skills/review-pr/SKILL.md
Due: none

feat: add DeepSeek-Math-V2 model configuration and documentation (#201)
  data/models/generated/v0.5.8/deepseek-math-v2.yaml
  data/models/src/v0.5.8/deepseek-math-v2.yaml
  docs/autoregressive/DeepSeek/DeepSeek-Math-V2.md
  docs/intro.md
  sidebars.js
  src/components/autoregressive/DeepSeekMathV2ConfigGenerator/index.js
Due: compile-model-configs, validate-model-configs-ts

Fix Llama4 recipe link and update Mistral-3 to Ministral-3 in the introduction (#210)
  docs/intro.md
  src/components/autoregressive/Llama4MaverickConfigGenerator/index.js
Due: none

docs(qwen3.5): add --enable-flashinfer-allreduce-fusion tip for B200 FP8 (#207)
  docs/autoregressive/Qwen/Qwen3.5.md
Due: none

upd glm5 doc
  docs/autoregressive/GLM/GLM-5.md
Due: none

upd glm5 doc (#211)
  docs/autoregressive/GLM/GLM-5.md
Due: none

Add support of MI300X/MI325X/MI355X for the Ring-2.5-1T cookbook
  docs/autoregressive/InclusionAI/Ring-2.5-1T.md
  src/components/autoregressive/Ring25ConfigGenerator/index.js
Due: none

Update README title with URL
  README.md
Due: none

Add MI355X command for MiMo-V2-Flash cookbook
  docs/autoregressive/Xiaomi/MiMo-V2-Flash.md
  src/components/autoregressive/MiMoConfigGenerator/index.js
Due: none

Add H200 FP8 MTP deployment command for Qwen3.5
  docs/autoregressive/Qwen/Qwen3.5.md
Due: none

Update Qwen35ConfigGenerator for H200 FP8 MTP (EAGLE)
  docs/autoregressive/Qwen/Qwen3.5.md
  src/components/autoregressive/Qwen35ConfigGenerator/index.js
Due: none

Add --max-running-requests and --tokenizer-worker-num for FP8+MTP
  src/components/autoregressive/Qwen35ConfigGenerator/index.js
Due: none

Rename skill sync-inferencing-pr → update-cookbook
  .claude/skills/update-cookbook/SKILL.md
Due: none

fix: add ep=8 to YAML configs and correct generated path comment
  data/models/generated/v0.5.8/deepseek-math-v2.yaml
  data/models/src/v0.5.8/deepseek-math-v2.yaml
Due: compile-model-configs, validate-model-configs-ts

fix: correct generated file path comments in all source YAML configs
  data/models/src/v0.5.6/deepseek-r1.yaml
  data/models/src/v0.5.6/deepseek.yaml
  data/models/src/v0.5.6/glm46.yaml
  data/models/src/v0.5.6/glm46v.yaml
  data/models/src/v0.5.6/gpt-oss.yaml
  data/models/src/v0.5.6/intern-s1.yaml
  data/models/src/v0.5.6/kimi-k2.yaml
  data/models/src/v0.5.6/llada21.yaml
  data/models/src/v0.5.6/llama31.yaml
  data/models/src/v0.5.6/llama4scout.yaml
  data/models/src/v0.5.6/mimo.yaml
  data/models/src/v0.5.6/mistral.yaml
  data/models/src/v0.5.6/nemotron.yaml
  data/models/src/v0.5.6/qwen.yaml
  data/models/src/v0.5.6/qwen3next.yaml
  data/models/src/v0.5.6/qwen3vl.yaml
  data/models/src/v0.5.8/glm5.yaml
  data/models/src/v0.5.8/qwen35.yaml
  data/models/src/v0.5.8/qwen3codernext.yaml
Due: compile-model-configs

Add Gemma 4 cookbook with benchmarks for H200, MI300X, and B200 support
  data/models/generated/v0.5.10/gemma4.yaml
  data/models/src/v0.5.10/gemma4.yaml
  data/models/vendors.yaml
  docs/autoregressive/Google/Gemma4.md
  docs/autoregressive/Google/_category_.json
  docs/intro.md
  sidebars.js
  src/components/autoregressive/Gemma4ConfigGenerator/index.js
Due: compile-model-configs, validate-model-configs-ts

Remove --attention-backend triton flag (now auto-selected by SGLang)
  data/models/src/v0.5.10/gemma4.yaml
  docs/autoregressive/Google/Gemma4.md
  src/components/autoregressive/Gemma4ConfigGenerator/index.js
Due: compile-model-configs

Remove plain deployment commands section and integration checklist appendix
  docs/autoregressive/Google/Gemma4.md
Due: none

Update invocation examples to MoE model with real outputs
  docs/autoregressive/Google/Gemma4.md
Due: none

Fix trailing whitespace and end-of-file in Gemma4.md
  docs/autoregressive/Google/Gemma4.md
Due: none
