Repository sgl-project/sgl-cookbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: compile-model-configs, validate-model-configs-ts

.pre-commit-config.yaml:

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  # Custom hook for compiling model configs
  - repo: local
    hooks:
      - id: compile-model-configs
        name: Compile Model Configuration YAML
        entry: python3 data/scripts/compile_models.py
        language: system
        files: ^data/models/src/.*\.(yaml|yml)$
        pass_filenames: false

      - id: validate-model-configs-ts
        name: Validate Model Configuration YAML (TypeScript)
        entry: bash -c 'cd data/schema && npm test'
        language: system
        files: ^(data/models/generated/.*\.(yaml|yml)|data/schema/types\.ts)$
        pass_filenames: false

update qwen (#245)
  data/models/src/v0.5.10/qwen36.yaml
  docs/autoregressive/Qwen/Qwen3.6.md
  docs/intro.md
  sidebars.js
  src/components/autoregressive/Qwen35ConfigGenerator/index.js
  src/components/autoregressive/Qwen36ConfigGenerator/index.js
Due: compile-model-configs

update
  docs/autoregressive/Qwen/Qwen3.6.md
Due: none

update (#246)
  docs/autoregressive/Qwen/Qwen3.6.md
Due: none

Add Qwen3.5 FP8 B300 MTP config with spec v2
  src/components/autoregressive/Qwen35ConfigGenerator/index.js
Due: none

Update Qwen3.6.md for AMD GPU
  docs/autoregressive/Qwen/Qwen3.6.md
Due: none

Update index.js for AMD GPU
  src/components/autoregressive/Qwen36ConfigGenerator/index.js
Due: none

Add haic0 patch for Qwen3.6
  docs/autoregressive/Qwen/Qwen3.6.md
Due: none

Add Kimi-K2.6 cookbook
  docs/autoregressive/Moonshotai/Kimi-K2.6.md
  sidebars.js
  src/components/autoregressive/KimiK26ConfigGenerator/index.js
Due: none

Fix speculative decoding and add recommended params for Kimi-K2.6
  docs/autoregressive/Moonshotai/Kimi-K2.6.md
  src/components/autoregressive/KimiK26ConfigGenerator/index.js
Due: none

Remove speculative decoding section (no draft model released yet)
  docs/autoregressive/Moonshotai/Kimi-K2.6.md
  src/components/autoregressive/KimiK26ConfigGenerator/index.js
Due: none

Add speed benchmark data referencing K2.5 (same architecture)
  docs/autoregressive/Moonshotai/Kimi-K2.6.md
Due: none

Polish Kimi-K2.6 cookbook: fix quantization label, align generator with docs, add YAML + homepage entries
  data/models/generated/v0.5.10/kimi-k26.yaml
  data/models/src/v0.5.10/kimi-k26.yaml
  docs/autoregressive/Moonshotai/Kimi-K2.6.md
  docs/intro.md
  sidebars.js
  src/components/autoregressive/KimiK26ConfigGenerator/index.js
Due: compile-model-configs, validate-model-configs-ts

Add missing generated qwen36.yaml (pre-existing gap from #245) to unblock CI
  data/models/generated/v0.5.10/qwen36.yaml
Due: validate-model-configs-ts

Add kimi k2.6 cookbook (#249)
  data/models/generated/v0.5.10/kimi-k26.yaml
  data/models/generated/v0.5.10/qwen36.yaml
  data/models/src/v0.5.10/kimi-k26.yaml
  docs/autoregressive/Moonshotai/Kimi-K2.6.md
  docs/intro.md
  sidebars.js
  src/components/autoregressive/KimiK26ConfigGenerator/index.js
Due: compile-model-configs, validate-model-configs-ts

Update /add-model skill with lessons from Kimi-K2.6 cookbook (#249)
  .claude/skills/add-model/SKILL.md
Due: none

/add-model: extend with MiniMax-M2.7 learnings (GB300, reasoning-parser variants, NeMo-Skills, vendor entry)
  .claude/skills/add-model/SKILL.md
Due: none

Refine /add-model skill: clarify pre-commit behavior and soften claims
  .claude/skills/add-model/SKILL.md
Due: none

Update /add-model skill with lessons from Kimi-K2.6 cookbook (#250)
  .claude/skills/add-model/SKILL.md
Due: none

Add MMMU Pro Vision benchmark for Kimi-K2.6
  docs/autoregressive/Moonshotai/Kimi-K2.6.md
Due: none

Add MMMU Pro Vision benchmark for Kimi-K2.6 (#251)
  docs/autoregressive/Moonshotai/Kimi-K2.6.md
Due: none

feat(kimi-k26): add B200, GB200, GB300 NVIDIA hardware platform support
  data/models/generated/v0.5.10/kimi-k26.yaml
  data/models/src/v0.5.10/kimi-k26.yaml
  docs/autoregressive/Moonshotai/Kimi-K2.6.md
  src/components/autoregressive/KimiK26ConfigGenerator/index.js
Due: compile-model-configs, validate-model-configs-ts

feat(glm51): add B300 and GB200 NVIDIA hardware platform support
  data/models/generated/v0.5.10/glm51.yaml
  data/models/src/v0.5.10/glm51.yaml
  docs/autoregressive/GLM/GLM-5.1.md
  src/components/autoregressive/GLM51ConfigGenerator/index.js
Due: compile-model-configs, validate-model-configs-ts

Update README with new cookbook URL
  README.md
Due: none

Update README with new cookbook URL (#254)
  README.md
Due: none

feat(minimax-m27): add B300 and GB200 NVIDIA hardware platform support
  data/models/generated/v0.5.10/minimax-m27.yaml
  data/models/src/v0.5.10/minimax-m27.yaml
  docs/autoregressive/MiniMax/MiniMax-M2.7.md
  src/components/autoregressive/MiniMaxM27ConfigGenerator/index.js
Due: compile-model-configs, validate-model-configs-ts

fix(minimax-m27): update TP values for H200/B200/B300 to 8, GB200/GB300 to 4
  data/models/generated/v0.5.10/minimax-m27.yaml
  data/models/src/v0.5.10/minimax-m27.yaml
  docs/autoregressive/MiniMax/MiniMax-M2.7.md
  src/components/autoregressive/MiniMaxM27ConfigGenerator/index.js
Due: compile-model-configs, validate-model-configs-ts

AMD Qwen3.5 MXFP4 Support
  src/components/autoregressive/Qwen35ConfigGenerator/index.js
Due: none

AMD GLM-5.1 FP8 & FP4 Support
  data/models/generated/v0.5.10/glm51.yaml
  data/models/src/v0.5.10/glm51.yaml
  docs/autoregressive/GLM/GLM-5.1.md
  src/components/autoregressive/GLM51ConfigGenerator/index.js
Due: compile-model-configs, validate-model-configs-ts

AMD GLM-5.1 FP8 & FP4 Support - Recompile glm51.yaml to fix CI validation
  data/models/generated/v0.5.10/glm51.yaml
Due: validate-model-configs-ts

feat(qwen3.5): add GB200 and GB300 hardware platform support
  docs/autoregressive/Qwen/Qwen3.5.md
  src/components/autoregressive/Qwen35ConfigGenerator/index.js
Due: none

chore(kimi-k26): regenerate YAML to propagate dp=4 to GB200/GB300 default
  data/models/generated/v0.5.10/kimi-k26.yaml
Due: validate-model-configs-ts

docs(minimax-m27): correct GB200 / B300 memory-per-die figures
  docs/autoregressive/MiniMax/MiniMax-M2.7.md
  src/components/autoregressive/MiniMaxM27ConfigGenerator/index.js
Due: none

Update device specifications in minimax-m27.yaml
  data/models/src/v0.5.10/minimax-m27.yaml
Due: compile-model-configs

fix(qwen3.5): set GB200 and GB300 to tp=4 for all quantizations
  docs/autoregressive/Qwen/Qwen3.5.md
  src/components/autoregressive/Qwen35ConfigGenerator/index.js
Due: none

AMD GLM-5.1 FP8 & FP4 Support - Reviewer Feedback Changes
  data/models/generated/v0.5.10/glm51.yaml
  data/models/src/v0.5.10/glm51.yaml
  docs/autoregressive/GLM/GLM-5.1.md
  src/components/autoregressive/GLM51ConfigGenerator/index.js
Due: compile-model-configs, validate-model-configs-ts

feat(nvidia): add Nemotron 3 Nano Omni cookbook
  docs/autoregressive/NVIDIA/Nemotron3-Nano-Omni.md
Due: none

feat(nvidia): add NemotronNanoOmniConfigGenerator interactive component
  src/components/autoregressive/NemotronNanoOmniConfigGenerator/index.js
Due: none

feat(sidebar): add Nemotron3-Nano-Omni entry to NVIDIA sidebar section
  sidebars.js
Due: none

feat(nvidia): add Nemotron 3 Nano Omni model YAML configs
  data/models/generated/v0.5.10/nemotron-nano-omni.yaml
  data/models/src/v0.5.10/nemotron-nano-omni.yaml
Due: compile-model-configs, validate-model-configs-ts
