Repository sgl-project/sgl-cookbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: compile-model-configs, validate-model-configs-ts

compile-model-configs:
  name: Compile Model Configuration YAML
  entry: python3 data/scripts/compile_models.py
  language: system
  pass_filenames: false

validate-model-configs-ts:
  name: Validate Model Configuration YAML (TypeScript)
  entry: bash -c 'cd data/schema && npm test'
  language: system
  pass_filenames: false

Add benchmark numbers for generating a single video with default setting and with Cache DiT acceleration
  docs/diffusion/Wan/Wan2.1.md
Due: none

Update to pass lint
  docs/diffusion/Wan/Wan2.1.md
Due: none

feat: sync intro.md model list and improve contribution skills (#193)
  .claude/skills/add-model/SKILL.md
  .claude/skills/review-pr/SKILL.md
  docs/intro.md
Due: none

Change server port and update benchmark model version
  docs/diffusion/Wan/Wan2.1.md
Due: none

fix model name
  src/components/diffusion/Wan2_1ConfigGenerator/index.js
Due: none

Add --kv-cache-dtype fp8_e4m3 for AMD GPU configurations
  data/models/generated/v0.5.8/kimi-k25.yaml
  src/components/autoregressive/KimiK25ConfigGenerator/index.js
Due: validate-model-configs-ts

improve review-pr and add-model skills
  .claude/skills/add-model/SKILL.md
  .claude/skills/review-pr/SKILL.md
Due: none

Remove --chunked-prefill-size for consistency with other recipes
  docs/autoregressive/Moonshotai/Kimi-K2.5.md
Due: none

Remove --chunked-prefill-size from config generator for consistency
  src/components/autoregressive/KimiK25ConfigGenerator/index.js
Due: none

feat: add DeepSeek-Math-V2 model configuration and documentation
  data/models/src/v0.5.8/deepseek-math-v2.yaml
  docs/autoregressive/DeepSeek/DeepSeek-Math-V2.md
  docs/intro.md
  sidebars.js
  src/components/autoregressive/DeepSeekMathV2ConfigGenerator/index.js
Due: compile-model-configs

fix: reduce DeepSeek-Math-V2 default tp from 16 to 8 for B200/B300
  data/models/src/v0.5.8/deepseek-math-v2.yaml
  src/components/autoregressive/DeepSeekMathV2ConfigGenerator/index.js
Due: compile-model-configs

Add AMD MI300X/MI325X/MI350X/MI355X GPU support for Step-3.5-Flash
  data/models/generated/v0.5.8/step35.yaml
  data/models/src/v0.5.8/step35.yaml
  data/models/vendors.yaml
  docs/autoregressive/StepFun/Step3.5.md
  src/components/autoregressive/Step3_5ConfigGenerator/index.js
Due: compile-model-configs, validate-model-configs-ts

Update MiniMax-M2.md
  docs/autoregressive/MiniMax/MiniMax-M2.md
Due: none

Update index.js
  src/components/autoregressive/MiniMaxM2ConfigGenerator/index.js
Due: none

Update index.js
  src/components/autoregressive/Ministral3ConfigGenerator/index.js
Due: none

Update and rename Mistral-3.md to Ministral-3.md
  docs/autoregressive/Mistral/Ministral-3.md
Due: none

Update Llama4.md
  docs/autoregressive/Llama/Llama4.md
Due: none

AMD MI300X/MI325X/MI355X GPU Support for Qwen3.5
  data/models/generated/v0.5.8/qwen35.yaml
  data/models/src/v0.5.8/qwen35.yaml
  docs/autoregressive/Qwen/Qwen3.5.md
  src/components/autoregressive/Qwen35ConfigGenerator/index.js
Due: compile-model-configs, validate-model-configs-ts

Leanstral
  data/models/generated/v0.5.8/mistral-small-4.yaml
  data/models/src/v0.5.8/mistral-small-4.yaml
  docs/autoregressive/Mistral/Mistral-Small-4.md
  docs/intro.md
  sidebars.js
  src/components/autoregressive/MistralSmall4ConfigGenerator/index.js
Due: compile-model-configs, validate-model-configs-ts

fix
  docs/autoregressive/Mistral/Mistral-Small-4.md
Due: none

more fix
  docs/autoregressive/Mistral/Mistral-Small-4.md
Due: none

uncomment config
  docs/autoregressive/Mistral/Mistral-Small-4.md
  src/components/autoregressive/MistralSmall4ConfigGenerator/index.js
Due: none

fix: update Mistral Small 4 configs with correct tp values, add NVFP4 and H100/B300 support
  data/models/generated/v0.5.8/mistral-small-4.yaml
  data/models/src/v0.5.8/mistral-small-4.yaml
  docs/autoregressive/Mistral/Mistral-Small-4.md
  src/components/autoregressive/MistralSmall4ConfigGenerator/index.js
Due: compile-model-configs, validate-model-configs-ts

add docker pull instruction for Mistral Small 4
  docs/autoregressive/Mistral/Mistral-Small-4.md
Due: none

Add Mistral Small 4 cookbook (#202)
  data/models/generated/v0.5.8/mistral-small-4.yaml
  data/models/src/v0.5.8/mistral-small-4.yaml
  docs/autoregressive/Mistral/Mistral-Small-4.md
  docs/intro.md
  sidebars.js
  src/components/autoregressive/MistralSmall4ConfigGenerator/index.js
Due: compile-model-configs, validate-model-configs-ts

title
  docs/autoregressive/Mistral/Mistral-Small-4.md
Due: none

title (#203)
  docs/autoregressive/Mistral/Mistral-Small-4.md
Due: none

Update Mistral Small 4: add EAGLE speculative decoding and fill test outputs
  data/models/generated/v0.5.8/mistral-small-4.yaml
  data/models/src/v0.5.8/mistral-small-4.yaml
  docs/autoregressive/Mistral/Mistral-Small-4.md
  src/components/autoregressive/MistralSmall4ConfigGenerator/index.js
Due: compile-model-configs, validate-model-configs-ts

Remove redundant deployment commands from Section 4
  docs/autoregressive/Mistral/Mistral-Small-4.md
Due: none

Update Mistral Small 4 cookbook (#204)
  data/models/generated/v0.5.8/mistral-small-4.yaml
  data/models/src/v0.5.8/mistral-small-4.yaml
  docs/autoregressive/Mistral/Mistral-Small-4.md
  src/components/autoregressive/MistralSmall4ConfigGenerator/index.js
Due: compile-model-configs, validate-model-configs-ts

AMD GPU support for Qwen3.5 Model. Modified as per the Review Suggestions
  docs/autoregressive/Qwen/Qwen3.5.md
Due: none

Update AMD GPU TP constraint explanation
  docs/autoregressive/Moonshotai/Kimi-K2.5.md
Due: none

fix config
  data/models/generated/v0.5.8/kimi-k25.yaml
  data/models/src/v0.5.8/kimi-k25.yaml
Due: compile-model-configs, validate-model-configs-ts

align yaml with config generator
  data/models/generated/v0.5.8/step35.yaml
  data/models/src/v0.5.8/step35.yaml
Due: compile-model-configs, validate-model-configs-ts

Path conditions:
  compile-model-configs: any of: ^data/models/src/.*\.(yaml|yml)$
  validate-model-configs-ts: any of: ^(data/models/generated/.*\.(yaml|yml)|data/schema/types\.ts)$
